<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gobishops">

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".utils.TestActivityUtil"></activity>
        <activity android:name=".view.EventSearchActivity" />
        <activity android:name=".view.RegisterActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.AddEventActivity" />
        <activity android:name=".view.EventDetailActivity" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>