<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gobishops">

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_dining_room_48"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_dining_room_48"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.OrderActivity"></activity>
        <activity android:name=".view.ResultActivity" />
        <activity android:name=".view.MapActivity" />
        <activity android:name=".view.DishActivity" />
        <activity android:name=".view.UserInfoActivity" />
        <activity android:name=".view.VerifyActivity" />
        <activity android:name=".view.ForgetPwdActivity" />
        <activity android:name=".utils.TestActivityUtil" />
        <activity android:name=".view.EventSearchActivity" />
        <activity android:name=".view.RegisterActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.AddEventActivity" />
        <activity android:name=".view.EventDetailActivity" />
        <activity
            android:name=".view.MyWelcomePage"
            android:theme="@style/WelcomeScreenTheme" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Google Map Api -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>